<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<%= link_to '', @task, class: "btn btn-primary fa fa-eye" %> |
<%= link_to '', tasks_path, class: "btn btn-primary glyphicon glyphicon-chevron-left" %>
