<div class="container">
  <div class="top-task-menu">
    <%= link_to 'New Task', new_task_path , class: "text-success btn icon-btn btn-success"%>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-info">TO DO</div>
      <%= render @to_do %>
    </div>
    <div class="col-md-4">
      <div class="alert alert-danger">DOING</div>
      <%= render @doing %>
    </div>
     <div class="col-md-4">
      <div class="alert alert-success">DONE</div>
      <%= render @done %>
    </div>
  </div>
</div>
